body{
    background-image: url(../img/Rise_Of_Super_Heroes.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
}
h3{
    color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    
}
.card{
    align-items: center;
    width: 18rem;
    background-color: black;
    margin: 4%;
}