
body{
    background-image: url("../img/Rise_Of_Super_Heroes.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    color: white;
}
.color a {
    color: white;
}
.container {
    text-align: center;
    color: #ffffff;
    margin-top: 10%;
    padding: 1%;
    background-color: rgba(0,0,0,0.6);
     /*margin-left: 30%;*/
   
}
.container h1{
    font-weight: 600;
}
.input-group input{
    font-size: 1.2rem;
    width: 50%; 
}
input{
    margin-left: 2%;
}
.btn{
    margin-right: .7%;
  
}

.btn-danger{
    background-color: orange;
    
}
/*style for list item*/
#auto-complete {
    color: black;
    z-index: 1;
    position: relative;
    top: 0;
    margin-top: -1.5%;
}
#auto-complete li {
    width: 25vw;
    cursor: pointer;
}
#auto-complete-container {
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
}


/*-----------------media query----------*/
@media screen and (max-width:550px) {
    .input-group input {
        font-size: 1.2rem;
        width: 100%;
    }
    #auto-complete {
        width: 40vw;
        cursor: pointer;
    }
    button {
        margin-top: 1%;
    }
    
}




