
/*HEADER-----------------
---------*/

body{
    background-image: url("../img/Rise_Of_Super_Heroes.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.color a {
    color: white;
}
.container{
    display: flex;
    margin-top: 0.5%;
    align-items: center;
    justify-content: space-evenly;
   
}
.card{
    display: inline-block;
    margin-top: 1%;
}
.jumbotron{
    display: inline-block;
    width: 60%;
    min-height: 100%;
    color: white;
    background-color:rgba(0,0,0,0.6);
    margin-top: 1%;
    padding-top: 1%;
    padding-left: 4%;
    padding-bottom: 2%;
}
.jumbotron h1 {
    font-size: 3rem;
}
/* HERO DETAIL IMG*/
.details{
    text-align: center;
    font-size: 1.1rem;
    border-bottom: 2px solid white;
    border-bottom-width: 50%;
    border-radius: 2%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
hr{
    border: 2.5px solid white;
}
button{
    margin-top: 1%;
}
.btn-danger{
    background-color: orange;
    
}

#msg-container{
    position: absolute;
    left: 40%;
    right: auto;
    top: 40%;
    padding: 3%;
    background-color: rgba(255,255,255,0.9);
    display: none;
}
#message{
    font-size: 1.3rem;
}
 @media screen and(max-width:600) {
     .container{
         flex-wrap: wrap;
         width: fit-content;
         overflow: hidden;
     }
     .card{
         display: block;
     }
     .jumbotron{
         display: block;
         width: 100%;
     }
     .jumbotron h1{
         font-size: 2rem;
     }
     #msg-container{
         top: 120%;
     }
     
 }

